<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="icon" type="image/x-icon" href="favico.jpg">
    <link rel="stylesheet" href="design.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="body">
        <div id="pauseScreen" class="hidden">
            <h2>Game Paused</h2>
            <button id="resumeBtn">Resume Game</button>
        </div>

        <div id="gameOverScreen" class="hidden">
            <h2>Game Over</h2>
            <p id="finalScore">Final Score: 0</p>
            <button id="restartBtn">Restart Game</button>
            <button id="showLeadBtn">Leaderboard</button>
        </div>

        <div id="stats" class="hidden">
            <button id="closeLeaderboard" class="close-btn">Close</button>
            <h2>Leaderboard</h2>
            <ul id="leaderboardList">
            </ul>
        </div>
        
        <div class="details">
            <div id="scoreBox">Score: 0</div>
            <div id="hiscoreBox">Hi Score: 0</div>
            <button id="logout">Logout</button>
        </div>
        <div id="board"></div>
    </div>
</body>
<script src="snake.js"></script>

</html>